.idea
.vscode
board_frontdesk
hotel
hotel_housekeeping
hotel_pos_restaurant
hotel_reservation
hotel_restaurant
payment_receipt_invoice
report_hotel_reservation
report_hotel_restaurant
web_responsive
zips
